# ==========================================
# Основные настройки Django
# ==========================================
# Секретный ключ (для генерации токенов, сессий, хеширования)
SECRET_KEY=django-insecure-your-secret-key-here
# Включение/отключение режима отладки (True для локальной разработки, False для продакшена)
DEBUG=True
# Список разрешенных хостов (через запятую)
ALLOWED_HOSTS=127.0.0.1,localhost

# ==========================================
# Подключение к PostgreSQL
# ==========================================
POSTGRES_DB=my_database_name
POSTGRES_USER=my_db_user
POSTGRES_PASSWORD=my_super_secret_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# ==========================================
# Подключение к Redis (Кэш и Celery)
# ==========================================
# 0 - это номер базы данных в Redis
REDIS_URL=redis://127.0.0.1:6379/0

# ==========================================
# S3 Хранилище (для медиафайлов)
# ==========================================
AWS_ACCESS_KEY_ID=your_s3_access_key
AWS_SECRET_ACCESS_KEY=your_s3_secret_key
AWS_STORAGE_BUCKET_NAME=your_bucket_name
AWS_S3_REGION_NAME=us-east-1
# URL эндпоинта (нужен, если используешь не AWS, а MinIO, Selectel, Yandex Cloud и т.д.)
AWS_S3_ENDPOINT_URL=https://s3.your-provider.com