# ==========================================
# Ядро проекта
# ==========================================
Django>=5.0,<6.0

# ==========================================
# Окружение и настройки (Эпик 1.3)
# ==========================================
# Чтение переменных из .env файла
django-environ>=0.11.2

# ==========================================
# База данных (Эпик 1.2)
# ==========================================
# Драйвер для работы с PostgreSQL
psycopg2-binary>=2.9.9

# ==========================================
# Фоновые задачи и Кэш (Эпик 1.2)
# ==========================================
# Клиент для Redis
redis>=5.0.3
# Брокер задач (у тебя в структуре заявлен celery.py)
celery>=5.3.6

# ==========================================
# Работа с файлами и S3 (Эпик 1.4)
# ==========================================
# Интеграция с S3-совместимыми хранилищами
django-storages[boto3]>=1.14.2

# ==========================================
# Продакшен сервер (Эпик 1.2)
# ==========================================
# WSGI-сервер, который будет запускать Django в Docker
gunicorn>=21.2.0